In [1]:
import pandas as pd
import numpy as np
import sys
# sys.path.append('source_data')

In [2]:
from moetaigi import numberize_tone, make_headers

In [3]:
with open('test.txt', 'w') as f:
    make_headers(f)

In [20]:
numberize_tone('')

''

In [27]:
for i in ['']:
    print(i)

In [5]:
a = pd.read_csv('source_data/詞目總檔.csv')

In [6]:
a.loc[:5]

   主編碼  屬性    詞目                                   音讀  文白屬性   部首
0    1   1     一                                tsi̍t     4    一
1    2   1     一                                   it     0    一
2    3   1  一刀兩斷                     it-to-lióng-tuān     0  NaN
3    4   1    一下                              tsi̍t-ē     0  NaN
4    6   1   一月日     tsi̍t gue̍h-ji̍t/tsi̍t ge̍h-li̍t     0  NaN
5    7   1  一日到暗  tsi̍t-ji̍t-kàu-àm/tsi̍t-li̍t-kàu-àm     0  NaN

In [19]:
for idx, row in a.loc[1:18].iterrows():
    print(type(row['音讀']) is str)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [28]:
!python gen_dict.py

In [2]:
# from gen_dict import numberize_tone

In [47]:
char_freq_file = 'char_freq_merged.txt'
dict_raw_file = 'source_data/moetaigi-raw.dict.yaml'
# dict_raw_file = 'moetaigi-test.dict.yaml'
dict_target_file = 'moetaigi-new.dict.yaml'

df_freq = pd.read_csv(char_freq_file, sep='\t')
df_freq_updated = df_freq.copy(deep=True)
df_freq

       No. Name Pronunciation  New_Freq
0      120    的             ê    184693
1      247    是            sī    103109
2        1    仔             á     90696
3     1278    伊             i     63255
4        7    無            bô     63119
...    ...  ...           ...       ...
5179  4482    摻         tshàm        50
5180  4483    敱        kháinn        50
5181  4207    逢          hông        50
5182  3911    挌           keh        50
5183  4817    鵁            ka        50

[5184 rows x 4 columns]

In [48]:
df_dict = pd.read_csv(dict_raw_file, sep='\t', header=None, names=['Name', 'Pronunciation'], skiprows=13)
df_dict

      Name    Pronunciation
0        㔂             lan5
1      㔂甘蔗  lan5 kam1 tsia3
2        㤉              ge5
3       㤉潲        ge5 siau5
4        㧌             mau1
...    ...              ...
24165    𧌄              NaN
24166    𧿳              NaN
24167    𨑨              NaN
24168    𩸶              NaN
24169    𰣻              NaN

[24170 rows x 2 columns]

In [49]:
def numberize_tone4charfreq(c):
    # single syllable only!
    # print(c)
    if b'\xcc\x8d'.decode() in c:
        d = c.replace(b'\xcc\x8d'.decode(), '') + '8'
    ## all are already included (as b'x\xcc\x8d')
    # elif 'a̍' in c:
    #     d = c.replace('a̍', 'a') + '8'
    # elif 'e̍' in c:
    #     d = c.replace('e̍', 'e') + '8'
    # elif 'i̍' in c:
    #     d = c.replace('i̍', 'i') + '8'
    # elif 'o̍' in c:
    #     d = c.replace('o̍', 'o') + '8'
    # elif 'u̍' in c:
    #     d = c.replace('u̍', 'u') + '8'
    # elif 'n8' in c: non-existent
    # elif 'm8' in c: non-existent
    elif b'\xcc\x84'.decode() in c:
        d = c.replace(b'\xcc\x84'.decode(), '') + '7'
    elif 'ā' in c:
        d = c.replace('ā', 'a') + '7'
    elif 'ē' in c:
        d = c.replace('ē', 'e') + '7'
    elif 'ī' in c:
        d = c.replace('ī', 'i') + '7'
    elif 'ō' in c:
        d = c.replace('ō', 'o') + '7'
    elif 'ū' in c:
        d = c.replace('ū', 'u') + '7'
    ## 'n̄' and 'm̄' are already included (as b'n\xcc\x84' and b'm\xcc\x84')
    # elif 'n̄' in c:
    #     d = c.replace('n̄', 'n') + '7'
    # elif 'm̄' in c:
    #     d = c.replace('m̄', 'm') + '7'
    elif b'\xcc\x82'.decode() in c:
        d = c.replace(b'\xcc\x82'.decode(), '') + '5'
    elif 'â' in c:
        d = c.replace('â', 'a') + '5'
    elif 'ê' in c:
        d = c.replace('ê', 'e') + '5'
    elif 'î' in c:
        d = c.replace('î', 'i') + '5'
    elif 'ô' in c:
        d = c.replace('ô', 'o') + '5'
    elif 'û' in c:
        d = c.replace('û', 'u') + '5'
    ## 'n̂' and 'm̂' are already included (as b'n\xcc\x82' and b'm\xcc\x82')
    # elif 'n̂' in c:
    #     d = c.replace('n̂', 'n') + '5'
    # elif 'm̂' in c:
    #     d = c.replace('m̂', 'm') + '5'
    elif b'\xcc\x80'.decode() in c:
        d = c.replace(b'\xcc\x80'.decode(), '') + '3'
    elif 'à' in c:
        d = c.replace('à', 'a') + '3'
    elif 'è' in c:
        d = c.replace('è', 'e') + '3'
    elif 'ì' in c:
        d = c.replace('ì', 'i') + '3'
    elif 'ò' in c:
        d = c.replace('ò', 'o') + '3'
    elif 'ù' in c:
        d = c.replace('ù', 'u') + '3'
    elif 'ǹ' in c:
        d = c.replace('ǹ', 'n') + '3'
    # elif 'm3' in c: non-existent
    elif b'\xcc\x81'.decode() in c:
        d = c.replace(b'\xcc\x81'.decode(), '') + '2'
    elif 'á' in c:
        d = c.replace('á', 'a') + '2'
    elif 'é' in c:
        d = c.replace('é', 'e') + '2'
    elif 'í' in c:
        d = c.replace('í', 'i') + '2'
    elif 'ó' in c:
        d = c.replace('ó', 'o') + '2'
    elif 'ú' in c:
        d = c.replace('ú', 'u') + '2'
    elif 'ń' in c:
        d = c.replace('ń', 'n') + '2'
    elif 'ḿ' in c:
        d = c.replace('ḿ', 'm') + '2'
    elif c.endswith('p') or c.endswith('t') or c.endswith('k') or c.endswith('h'):
        d = c + '4'
    else:
        d = c + '1'
    return d

In [50]:
for index, row in df_freq.iterrows():
    pronunc = row['Pronunciation']
    new_pronunc = numberize_tone4charfreq(pronunc)
    # print(pronunc)
    # print(new_pronunc)
    df_freq_updated.loc[index, 'Pronunciation'] = new_pronunc

In [51]:
df_freq_updated

       No. Name Pronunciation  New_Freq
0      120    的            e5    184693
1      247    是           si7    103109
2        1    仔            a2     90696
3     1278    伊            i1     63255
4        7    無           bo5     63119
...    ...  ...           ...       ...
5179  4482    摻        tsham3        50
5180  4483    敱       khainn2        50
5181  4207    逢         hong5        50
5182  3911    挌          keh4        50
5183  4817    鵁           ka1        50

[5184 rows x 4 columns]

In [52]:
with open(dict_raw_file) as f, open(dict_target_file, 'w') as g:

    # Write the same headers in g
    for line in f:
        g.write(line)
        if line == '...\n':
            break

    # Dictionary
    for line in f:
        cells = line.split('\t')
        word = cells[0].rstrip()
        if len(cells) >= 2:
            entry_pronunc = cells[1].rstrip()
        else:
            entry_pronunc = None
        
        if len(word) == 1 and word != '':
            if entry_pronunc is not None:
                # print(entry_pronunc)
                lkup_row = df_freq_updated.loc[(df_freq_updated['Name'] == word) & (df_freq_updated['Pronunciation'] == entry_pronunc)]
                # print(lkup_row)
                if len(lkup_row) == 0:
                    g.write(line)
                elif len(lkup_row) == 1:
                    g.write(line.rstrip() + '\t' + lkup_row['New_Freq'].to_string(index=False) + '\n')
                else:
                    raise ValueError('There are some bugs - check the code!')
                    # print(lkup_row)
            else:
                lkup_row = df_freq_updated.loc[df_freq_updated['Name'] == word]
                # print(df_freq_updated.loc[df_freq_updated['Name'] == word])
                if len(lkup_row) == 0:
                    g.write(line)
                elif len(lkup_row) == 1:
                    g.write(line.rstrip() + '\t' + lkup_row['Pronunciation'].to_string(index=False) + '\t' + lkup_row['New_Freq'].to_string(index=False) + '\n')
                else:
                    for lkup_row_index, lkup_row_each in lkup_row.iterrows():
                        g.write(line.rstrip() + '\t' + lkup_row_each['Pronunciation'] + '\t' + str(lkup_row_each['New_Freq']) + '\n')
                    # raise ValueError('There are some bugs - check the code!')
                    # print(lkup_row)
        else:
            g.write(line)
            
    for index, row in df_freq.iterrows():
        match = df_dict[df_dict['Name'] == row['Name']]
        if len(match) == 0:
            g.write(row['Name'] + '\t' + row['Pronunciation'] + '\t' + str(row['New_Freq']) + '\n')
            # print(row['Name'])

In [33]:
tmp_file = 'moetaigi-new-tmp.dict.yaml'

tmp_dict = pd.read_csv(tmp_file, sep='\t', header=None, names=['Name', 'Pronunciation', 'Freq'])
tmp_dict

      Name    Pronunciation    Freq
0        㔂             lan5   100.0
1      㔂甘蔗  lan5 kam1 tsia3     NaN
2        㤉              ge5   100.0
3       㤉潲        ge5 siau5     NaN
4        㧌             mau1    50.0
...    ...              ...     ...
24169    𧌄              am1    50.0
24170    𧿳            phut8   100.0
24171    𨑨           tshit4  1019.0
24172    𩸶             gam7    50.0
24173    𰣻              ko1   150.0

[24174 rows x 3 columns]

In [39]:
for index, row in df_freq.iterrows():
    match = tmp_dict[tmp_dict['Name'] == row['Name']]
    if len(match) == 0:
        print(row['Name'])

朒
梓
霄
氅
巖
巒
汐
肭
瞅
硐
蓁
萣
菌
嵙
堀
噍
甦
虜
巒
阱
瀧
廬
澗
嵌
氛
沼
潢
嶠
唭
戈
唭
汴
硿
尉
坌
穆
笈
舺
瑤
骼
梘
鋉
珞
艋
峨
噶
哆
隸
肱
蚋
鎊
塹
陂
泵
洄
嚀
莒
禧

In [45]:
tmp_dict2 = pd.read_csv(dict_raw_file, sep='\t', header=None, names=['Name', 'Pronunciation'], skiprows=13)
tmp_dict2

      Name    Pronunciation
0        㔂             lan5
1      㔂甘蔗  lan5 kam1 tsia3
2        㤉              ge5
3       㤉潲        ge5 siau5
4        㧌             mau1
...    ...              ...
24165    𧌄              NaN
24166    𧿳              NaN
24167    𨑨              NaN
24168    𩸶              NaN
24169    𰣻              NaN

[24170 rows x 2 columns]

In [ ]:
tmp_dict2